<?xml version="1.0"?>
<launch>

  <arg name="namespace" default="people_follower" />

  <arg name="launch_follower"               default="true" />
  <arg name="launch_tracker"                default="true" />
  <arg name="launch_navigation_stack"       default="true" />
  <arg name="launch_detector"               default="true" />
  <arg name="launch_localizer"              default="true" />

  <arg name="navigation_stack"              default="move_base_simple"   />
  <arg name="navigation_type"               default="path_following" />
  <arg name="move_base_simple"              default="true" />

  <arg name="fixed_frame"                   default="/map" />
  <arg name="person_pose_minimum_distance"  default="1.15" />
  <arg name="target_pose_minimum_distance"  default="1.15" />
  <arg name="path_minimum_distance"         default="0.5" />
  
  <arg name="success_timeout"               default="100000000.0"   />
  <arg name="poi_lost_timeout"              default="5.0"   />
  <arg name="poi_stopped_timeout"           default="20.0"   />
  <arg name="poi_tracking_timeout"          default="5.0"   />

  <include file="$(find mbot_2dnav)/ros/launch/2dnav_people_following.launch" if="$(arg launch_navigation_stack)" />

  <!-- Generic Detector -->
  <include ns="mbot_perception" if="$(arg launch_detector)" file="$(find darknet_ros_py)/ros/launch/darknet_ros_py.launch" >
    <arg name="config_file" default="$(find darknet_ros_py)/ros/config/default.yaml" />
    <arg name="threshold" value="0.6"/>
    <arg name="input_topic" value="/head_camera/rgb/image_rect_color"/>
    <arg name="debug" value="false"/>
    <arg name="only_best" value="false"/>
    <arg name="node_name" value="generic_detector"/>
  </include>

  <group ns="$(arg namespace)">

    <!-- Generic Localizer -->
    <include if="$(arg launch_localizer)" file="$(find mbot_object_localization)/ros/launch/mbot_object_localization.launch" >
      <arg name="inner_ratio" value="0.25" />
      <arg name="remove_intersections" value="false"/>
      <arg name="roi_array_topic" value="/mbot_perception/generic_detector/detections" />
      <arg name="node_name" value="generic_localizer" />
      <arg name="filter_classes" value="[person]" />
    </include>

    <include file="$(find bayes_people_tracker)/launch/people_tracker_people_following.launch" if="$(arg launch_tracker)">
      <arg name="target_frame" value="$(arg fixed_frame)" />
    </include>

    <node pkg="people_follower" type="follower" name="follower" output="screen" respawn="true" if="$(arg launch_follower)" >

      <rosparam file="$(find people_follower)/config/follower.yaml" command="load"/>

      <param name="fixed_frame"                   type="string"   value="$(arg fixed_frame)" />
      <param name="default_navigation_stack"      type="string"   value="$(arg navigation_stack)" />
      <param name="default_navigation_type"       type="string"   value="$(arg navigation_type)" />
      <param name="person_pose_minimum_distance"  type="double"   value="$(arg person_pose_minimum_distance)" />
      <param name="target_pose_minimum_distance"  type="double"   value="$(arg target_pose_minimum_distance)" />
      <param name="path_minimum_distance"         type="double"   value="$(arg path_minimum_distance)" />
      <param name="success_timeout"               type="double"   value="$(arg success_timeout)" />
      <param name="poi_lost_timeout"              type="double"   value="$(arg poi_lost_timeout)" />
      <param name="poi_tracking_timeout"          type="double"   value="$(arg poi_tracking_timeout)" />

      <remap from="twist_topic" to="/cmd_vel_prio_medium"/>
      <remap from="/move_base_simple/goal" to="/null/move_base_simple/goal" unless="$(arg move_base_simple)" />

    </node>

    <node pkg="people_follower" type="after" name="after_tracker" respawn="true" />

  </group>
</launch>
