<?xml version="1.0"?>
<launch>

  <arg name="namespace"           default="scan_persistence" />
  
  <arg name="range_min"          default="0.37" />
  <arg name="throttle_rate"       default="10" />
  <arg name="num_accumulated_pcl" default="100" />
  <arg name="scan_topic"          default="/scan_combined" />
  
  <group ns="$(arg namespace)" >
    
    <!-- SCAN THROTTLING
      input: /scan_combined (sensor_msgs/LaserScan)
      output: /scan_persistence/scan_in_throttled (sensor_msgs/LaserScan)
    -->
    <node pkg="topic_tools" type="throttle" name="laser_scan_throttle_node" args="messages $(arg scan_topic) 10 scan_in_throttled" respawn="true" />
    
    <!-- SCAN TO ACCUMULATED POINTCLOUD
      input: /scan_persistence/scan_in_throttled (sensor_msgs/LaserScan)
      output: (srv) /scan_persistence/assemble_scans2 (sensor_msgs/PoinCloud2)
    -->
    <node pkg="laser_assembler" type="laser_scan_assembler" name="laser_scan_assembler_node" output="screen" respawn="true" >
      
      <remap from="scan" to="scan_in_throttled" />
      <param name="max_scans" type="int" value="100" />
      <param name="fixed_frame" type="string" value="odom" />
      
    </node>
    
    <!-- ACCUMULATED POINTCLOUD TO SCAN
      input: (srv) /scan_persistence/assemble_scans2 (sensor_msgs/PoinCloud2)
      output: /scan_persistence/cloud_out (sensor_msgs/PoinCloud2)
    -->
    <node pkg="mbot_scan_persistence" type="scan_time_persistence" name="scan_time_persistence_node" output="screen" respawn="true" />
    
    <!-- ACCUMULATED POINTCLOUD TO SCAN
      input: /scan_persistence/cloud_out (sensor_msgs/PoinCloud2)
      output: /scan_left (sensor_msgs/LaserScan)
    -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_left_node" output="screen" respawn="true" >
      
      <remap from="cloud_in" to="cloud_out" />
      <remap from="scan" to="/scan_left" />
      
      <param name="angle_min"       value="1.0" />
      <param name="angle_max"       value="2.2" />
      <param name="angle_increment" value="0.008726646259971648" />
      <param name="range_min"       value="$(arg range_min)" />
      <param name="range_max"       value="5.0" />
      <param name="target_frame"    value="base_link" />
      
    </node>
    
    <!-- ACCUMULATED POINTCLOUD TO SCAN
      input: /scan_persistence/cloud_out (sensor_msgs/PoinCloud2)
      output: /scan_right (sensor_msgs/LaserScan)
    -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_right_node" output="screen" respawn="true" >
      
      <remap from="cloud_in" to="cloud_out" />
      <remap from="scan" to="/scan_right" />
      
      <param name="angle_min"       value="-2.2" />
      <param name="angle_max"       value="-1.0" />
      <param name="angle_increment" value="0.008726646259971648" />
      <param name="range_min"       value="$(arg range_min)" />
      <param name="range_max"       value="5.0" />
      <param name="target_frame"    value="base_link" />
      
    </node>
    
    <!-- COMBINE SCAN
      output: /scan_right (sensor_msgs/LaserScan)
      output: /scan_left  (sensor_msgs/LaserScan)
      output: /scan_combined_persistent (sensor_msgs/LaserScan)
    -->
    <node pkg="cob_scan_unifier" type="scan_unifier_node" name="scan_persistence_unifier" output="log" respawn="true" >
      <rosparam param="input_scans" subst_value="True">["$(arg scan_topic)","/scan_left","/scan_right"]</rosparam>
      <param name="loop_rate" value="40.0"/>
      <remap from="scan_unified" to="/scan_combined_persistent"/>
    </node>
    
  </group>
  
</launch>

