<?xml version="1.0"?>
<launch>

  <arg name="namespace" default="people_follower" />

  <group ns="$(arg namespace)">
  
    <arg name="follower" default="true" />
    <arg name="following_planner_mode" default="global_map" />
    
    <group if="$(arg follower)">
    
      <node pkg="pedestrian_detector" type="follower" name="follower" output="screen">
        <remap from="twist_topic" to="/cmd_vel_prio_medium"/>
        <rosparam file="$(find pedestrian_detector)/config/follower_params_$(arg following_planner_mode).yaml" command="load"/>
      </node>
    
    </group>
    
  </group>
</launch>
